// out: compiled/custom.css

/**
 * Pre-compiled custom.css from LESS
 * Global custom css of wordpress
 *
 * @date:       2018/04/19
 * @version:    1.0.0
 * @author:     Nuullll
 */

/**
 * Hide elements:
 * 1. detail button of project thumbnails
 * 2. auto-play button of slideshows
 * 3. hide-thumbnail button of slideshows
 * 4. project-info-box on each profolio page
 * 5. footer
 * 6. caption of photoswipers
 */
.hide() {
    display: none !important;
}
.project-details, .auto-play-btn, .hide-thumb-btn, .project-info-box, #footer, .pswp__caption {
    .hide();
}

/**
 * Reduce #main padding-top from 70px to 20px on profolio pages
 */
#main.sidebar-none {
    padding-top: 20px;
}

/**
 * Disable unwanted links
 * 1. category links
 * 2. author vcard link
 */
.unclickable() {
    pointer-events: none;
    cursor: default;
}
.category-link, .author.vcard {
    .unclickable();
}

/**
 * HOME main menu style
 */
.menu-text {
    border-bottom: solid 1.5px;
}

/**
 * Gradient hover color:
 * Telegram UI gradient color
 */
// define blues
@light-blue: #9CECFB;
@mid-blue: #65C7F7;
@dark-blue: #0052D4;
// define linear gradient
// bottom: dark-blue, top: light-blue
.linear-gradient-color(@dark-side) {
    background: -webkit-linear-gradient(@dark-side, @dark-blue 0%, @mid-blue 50%, @light-blue 100%);
}
.text-gradient-color(@dark-side; @size) {
    .linear-gradient-color(@dark-side);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: @size @size;
}
/**
 * Menu text gradient color
 */
@menu-text-line-height: 29px;
.menu-text {
    line-height: @menu-text-line-height;
    .accent-gradient &:hover {
        .text-gradient-color(bottom; @menu-text-line-height);
        border-bottom-color: fade(@dark-blue, 80);  // alpha: 80%
    }
}
/**
 * Project title link gradient color
 */
@project-title-line-height: 32px;
h3.entry-title {
    line-height: @project-title-line-height;
    .accent-gradient #page .project-list-content & a:hover {
        .text-gradient-color(bottom; @project-title-line-height);
    }
}
/**
 * Other work next-prev button gradient background
 */
.accent-gradient .arrows-bg-on.owl-carousel .owl-nav a {
    .owl-prev {
        background: @mid-blue;
        .linear-gradient-color(135deg);
    }

    .owl-next {
        background: @mid-blue;
        .linear-gradient-color(-135deg);
    }
}

/**
 * Next-previous navigation layout
 */
.square(@size) {
    width: @size;
    height: @size;
}
@icon-font-size: 18px;
@icon-box-size: 2 * @icon-font-size;
@thumb-border-radius: 5px;
@icon-inner-margin-offset: 5px;
.post-navigation {
    i.fa {
        font-family: icomoon-arrows-carousel-32x32 !important;
        font-size: @icon-font-size;
        line-height: @icon-box-size;
        .square(@icon-box-size);
        background: rgba(51,51,51,0.06);
        border-width: 0px;
        border-style: solid;
        border-radius: 500px;
        text-align: center;
    }

    .nav-links {
        justify-content: space-between;
        .nav-next, .nav-previous {
            &-container {
                width: 20%;
                padding: 0;
                margin: auto 30px;
                text-align: center;

                .mobile-true & {
                    width: 100%;
                    margin: 0;
                }
            }

            width: 100%;
            padding: 0;
            margin: 0;

            &-thumbnail {
                width: 100%;
                height: auto;
                margin: auto;
                border-radius: @thumb-border-radius;
            }
        }

        .nav-next {
            i {
                right: -@icon-box-size;
            }

            &-thumbnail {
                margin-right: 0px;
            }
        }

        .nav-previous {
            i {
                left: -@icon-box-size;
            }

            &-thumbnail {
                margin-left: 0px;
            }
        }

        .fa {
            &-angle-left {
                margin-left: -@icon-inner-margin-offset;

                &:before {
                    content: '\e928';
                }
            }

            &-angle-right {
                margin-right: -@icon-inner-margin-offset;

                &:before {
                    content: '\e929';
                }
            }

            a &:hover {
                color: white;
            }
        }
    }
}

/**
 * Next-previous navigation hover caption scale & gradient color
 */
.fade-linear-gradient-color(@dark-side; @fade) {
    background: -webkit-linear-gradient(@dark-side, fade(@dark-blue, @fade) 0%, fade(@mid-blue, @fade) 50%, fade(@light-blue, @fade) 100%);
}
.prev-background-gradient-color() {
    background: fade(@mid-blue, @fade-percent);
    .fade-linear-gradient-color(135deg; @fade-percent);
}
.next-background-gradient-color() {
    background: fade(@mid-blue, @fade-percent);
    .fade-linear-gradient-color(-135deg; @fade-percent);
}
.transform(@transform) {
    -webkit-transform: @transform;
    transform: @transform;
}
.transition() {
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1), opacity .4s;
    transition: transform .4s cubic-bezier(.4, 0, .2, 1), opacity .4s;
}
@fade-percent: 85;
.hover-caption-scale {
    overflow: hidden;
    .square(100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: @thumb-border-radius;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* fix conflict of overflow:hidden and position:absolute */

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -20%;
        left: 0;
        right: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        .next-background-gradient-color();
        opacity: 0;
        .transform(scale(0));
        .transition();

        .hover-navigation:hover & {
            opacity: 1;
            .transform(scale(1.42));
        }

        .nav-previous & {
            .prev-background-gradient-color();
        }

        .nav-next & {
            .next-background-gradient-color();
        }
    }
}
@top-z-index: 517;
.rollover-caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    .square(100%);
    top: 0;
    left: 0;
    text-align: center;
    z-index: @top-z-index;
    opacity: 0;
    .transform(scale(0));
    .transition();

    .hover-navigation:hover .hover-caption-scale & {
        opacity: 1;
        .transform(scale(1));
    }

    div {
        color: white;
    }
}
.hover-navigation {
    .fa:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        .next-background-gradient-color();
        z-index: -1;
        opacity: 0;
        .transform(scale(0));
        .transition();
    }

    .fa.fa-angle-left:after {
        .prev-background-gradient-color();
    }

    .fa.fa-angle-right:after {
        .next-background-gradient-color();
    }

    &:hover .fa {
        color: white;

        &:after {
            opacity: 1;
            .transform(scale(1));
        }
    }
}

/**
 * Full screen button style
 */
@full-screen-button-font-size: 22px;
@full-screen-button-line-height: 36px;
.full-screen-btn {
    &, &.act {
        background: none;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        opacity: 0.5;

        &:before {
            font-family: FontAwesome;
            font-size: @full-screen-button-font-size;
            line-height: @full-screen-button-line-height;
        }

        &:hover {
            color: #ffffff;
            opacity: 1;
        }
    }

    &:before {
        content: '\f065';
    }

    &.act:before {
        content: '\f066';
    }
}
