/**
 * Pre-compiled custom.css from LESS
 * Global custom css of wordpress
 *
 * @date:       2018/04/19
 * @version:    1.0.0
 * @author:     Nuullll
 */
/**
 * Hide elements:
 * 1. detail button of project thumbnails
 * 2. auto-play button of slideshows
 * 3. hide-thumbnail button of slideshows
 * 4. project-info-box on each profolio page
 * 5. footer
 */
.project-details,
.auto-play-btn,
.hide-thumb-btn,
.project-info-box,
#footer {
  display: none !important;
}
/**
 * Reduce #main padding-top from 70px to 20px on profolio pages
 */
#main.sidebar-none {
  padding-top: 20px;
}
/**
 * Disable unwanted links
 * 1. category links
 * 2. author vcard link
 */
.category-link,
.author.vcard {
  pointer-events: none;
  cursor: default;
}
/**
 * HOME main menu style
 */
.menu-text {
  border-bottom: solid 1.5px;
}
/**
 * Gradient hover color:
 * Telegram UI gradient color
 */
.menu-text {
  font-size: 25px;
}
.menu-text:hover {
  background: -webkit-linear-gradient(bottom, #0052D4 0%, #65C7F7 50%, #9CECFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 25px 25px;
  border-bottom-color: rgba(0, 82, 212, 0.8);
}
