/**
 * Pre-compiled custom.css from LESS
 * Global custom css of wordpress
 *
 * @date:       2018/04/19
 * @version:    1.0.0
 * @author:     Nuullll
 */
/**
 * Hide elements:
 * 1. detail button of project thumbnails
 * 2. auto-play button of slideshows
 * 3. hide-thumbnail button of slideshows
 * 4. project-info-box on each profolio page
 * 5. footer
 * 6. caption of photoswipers
 */
.project-details,
.auto-play-btn,
.hide-thumb-btn,
.project-info-box,
#footer,
.pswp__caption {
  display: none !important;
}
/**
 * Reduce #main padding-top from 70px to 20px on profolio pages
 */
#main.sidebar-none {
  padding-top: 20px;
}
/**
 * Disable unwanted links
 * 1. category links
 * 2. author vcard link
 */
.category-link,
.author.vcard {
  pointer-events: none;
  cursor: default;
}
/**
 * HOME main menu style
 */
.menu-text {
  border-bottom: solid 1.5px;
}
/**
 * Gradient hover color:
 * Telegram UI gradient color
 */
/**
 * Menu text gradient color
 */
.menu-text {
  line-height: 29px;
}
.accent-gradient .menu-text:hover {
  background: -webkit-linear-gradient(bottom, #0052D4 0%, #65C7F7 50%, #9CECFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 29px 29px;
  border-bottom-color: rgba(0, 82, 212, 0.8);
}
/**
 * Project title link gradient color
 */
h3.entry-title {
  line-height: 32px;
}
.accent-gradient #page .project-list-content h3.entry-title a:hover {
  background: -webkit-linear-gradient(bottom, #0052D4 0%, #65C7F7 50%, #9CECFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 32px 32px;
}
/**
 * Other work next-prev button gradient background
 */
.accent-gradient .arrows-bg-on.owl-carousel .owl-nav a .owl-prev {
  background: #65C7F7;
  background: -webkit-linear-gradient(135deg, #0052D4 0%, #65C7F7 50%, #9CECFB 100%);
}
.accent-gradient .arrows-bg-on.owl-carousel .owl-nav a .owl-next {
  background: #65C7F7;
  background: -webkit-linear-gradient(-135deg, #0052D4 0%, #65C7F7 50%, #9CECFB 100%);
}
/**
 * Next-previous navigation layout
 */
.post-navigation i.fa {
  font-family: icomoon-arrows-carousel-32x32 !important;
  font-size: 18px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  background: rgba(51, 51, 51, 0.06);
  border-width: 0px;
  border-style: solid;
  border-radius: 500px;
  text-align: center;
}
.post-navigation .nav-links {
  justify-content: space-between;
}
.post-navigation .nav-links .nav-next,
.post-navigation .nav-links .nav-previous {
  width: 100%;
  padding: 0;
  margin: 0;
}
.post-navigation .nav-links .nav-next-container,
.post-navigation .nav-links .nav-previous-container {
  width: 20%;
  padding: 0;
  margin: auto 30px;
  text-align: center;
}
.mobile-true .post-navigation .nav-links .nav-next-container,
.mobile-true .post-navigation .nav-links .nav-previous-container {
  width: 100%;
  margin: 0;
}
.post-navigation .nav-links .nav-next-thumbnail,
.post-navigation .nav-links .nav-previous-thumbnail {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px;
}
.post-navigation .nav-links .nav-next i {
  right: -36px;
}
.post-navigation .nav-links .nav-next-thumbnail {
  margin-right: 0px;
}
.post-navigation .nav-links .nav-previous i {
  left: -36px;
}
.post-navigation .nav-links .nav-previous-thumbnail {
  margin-left: 0px;
}
.post-navigation .nav-links .fa-angle-left {
  margin-left: -5px;
}
.post-navigation .nav-links .fa-angle-left:before {
  content: '\e928';
}
.post-navigation .nav-links .fa-angle-right {
  margin-right: -5px;
}
.post-navigation .nav-links .fa-angle-right:before {
  content: '\e929';
}
/**
 * Full screen button style
 */
.full-screen-btn,
.full-screen-btn.act {
  background: none;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}
.full-screen-btn:before,
.full-screen-btn.act:before {
  font-family: FontAwesome;
  font-size: 22px;
  line-height: 36px;
}
.full-screen-btn:hover,
.full-screen-btn.act:hover {
  color: #ffffff;
  opacity: 1;
}
.full-screen-btn:before {
  content: '\f065';
}
.full-screen-btn.act:before {
  content: '\f066';
}
